<div class="card card-plain card-blog">
    <div class="card-image">
        <a [routerLink]="['/blog', post._id]">
            <img *ngIf="!post.coverImg.imageURL" class="img rounder img-raised" src="../../../assets/img/image_placeholder.jpg" alt="post_cover_image"/>
            <img *ngIf="post.coverImg.imageURL" class="img rounder img-raised" src="{{this.BACKEND_URL + '/' + post.coverImg.imageURL}}" alt="post_cover_image"/>
        </a>
    </div>
    <div class="card-body">
      <h6 class="category text-info">{{post.category}}</h6>
      <h4 class="card-title"><a [routerLink]="['/blog', post._id]">{{post.title}}</a></h4>
        <p class="card-description"> {{ post.description1 | slice: 0 : 50 }} . . .
          <a [routerLink]="['/blog', post._id]">Read More </a>
        </p>
        <div class="author">
          <img alt="post_author_image" class="avatar img-raised" src="{{authorImage}}">
          <span>{{authorName}}</span>
        </div>
    </div>
</div>
