<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('../../../assets/img/bg5.jpg') ;"></div>
    <div class="content-center">
      <div class="photo-container">
        <img *ngIf="this.state.userProfileImage !== null" src="{{this.state.userProfileImage}}" alt="profile_picture"/>
        <img *ngIf="this.state.userProfileImage == null" src="../../../assets/img/placeholder.jpg" alt="">
      </div>
      <h3 class="title">{{this.currentUser.firstName}} {{this.currentUser.lastName}}</h3>
      <p class="category">{{this.currentUser.username}}</p>
      <div class="content">
        <div class="social-description">
          <h2>{{this.post_length}}</h2>
          <p>Posts</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 *ngIf="isUser" class="title text-center">My Portfolio</h4>
          <h4 *ngIf="!isUser" class="title text-center">{{this.currentUser.firstName}} {{this.currentUser.lastName}}'s Portfolio</h4>
          <app-details-user *ngIf="!isUser" [posts]="posts" [post_length]="post_length"></app-details-user>
          <ngb-tabset *ngIf="isUser" [justify]="'center'" type="pills"
                      class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="now-ui-icons users_circle-08"></i>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <h2 class="col-12 title text-primary">User Details</h2>
                  <app-details-user class="col-12" [posts]="posts" [post_length]="post_length"></app-details-user>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="now-ui-icons design-2_ruler-pencil"></i>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <h2 class="col-12 title text-primary">Edit User</h2>
                  <app-edit-user class="col-12"
                                 (sendUserForm)="updateUser($event)"
                                 (sendPasswordForm)="updatePassword($event)"
                                 (sendImgForm)="updateImg($event)"
                                 [loading]='loading'
                                 [userSubmitted]='userSubmitted'
                                 [userError]='userError'
                                 [passSubmitted]='passSubmitted'
                                 [passError]='passError'
                                 [imgSubmitted]='imgSubmitted'
                                 [imgError]='imgError'
                  ></app-edit-user>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default ">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/about-us">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/license">
              License
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}, Designed by
        <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>
</div>
