<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('../../../assets/img/bg5.jpg') ;">
    </div>
    <div class="content-center">
      <div class="photo-container">
        <img src="../../../assets/img/ryan.jpg" alt="">
      </div>
      <h3 class="title">{{this.authService.currentUserValue.firstName}} {{this.authService.currentUserValue.lastName}}</h3>
      <p class="category">{{this.authService.currentUserValue.username}}</p>
      <div class="content">
        <div class="social-description">
          <h2>26</h2>
          <p>Comments</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <app-edit-user
                  (sendUserForm)="updateUser($event)"
                  (sendPasswordForm)="updatePassword($event)"
                  (sendImgForm)="updateImg($event)"
                  [loading]='loading'
                  [userSubmitted]='userSubmitted'
                  [userError]='userError'
                  [passSubmitted]='passSubmitted'
                  [passError]='passError'
                  [imgSubmitted]='imgSubmitted'
                  [imgError]='imgError'
          ></app-edit-user>

        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default ">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/about-us">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/license">
              License
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}, Designed by
        <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>
</div>
