<ng-container *ngIf="post$ | async as post">
<div class="wrapper" *ngIf="author$ | async as author">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" [ngStyle]="{ 'background-image': 'url(' + this.coverImg + ')'}">
    </div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">{{post.title}}</h2>
          <h4 *ngIf="post.title2">{{post.title2}}</h4>
          <h6>{{post.postDate | date : 'longDate'}}</h6>
<!-- TODO: ADD BUTTON TO PUBLISH AND UNPUBLISH -->
          <h6 *ngIf="owner"><span *ngIf="post.published">Published</span><span *ngIf="!post.published">Unpublished</span></h6>
          <h6 *ngIf="owner"><a [routerLink]="['/blog/update', post._id]">Edit</a></h6>
        </div>
      </div>
    </div>
  </div>
<!--  <div class="section">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-12">-->
<!--          <div class="button-container">-->
<!--            <a href="#pablo" class="btn btn-primary btn-round btn-lg">-->
<!--              <i class="now-ui-icons text_align-left"></i> Read Article-->
<!--            </a>-->
<!--            <a href="#pablo" class="btn btn-icon btn-lg btn-twitter btn-round">-->
<!--              <i class="fa fa-twitter"></i>-->
<!--            </a>-->
<!--            <a href="#pablo" class="btn btn-icon btn-lg btn-facebook btn-round">-->
<!--              <i class="fa fa-facebook-square"></i>-->
<!--            </a>-->
<!--            <a href="#pablo" class="btn btn-icon btn-lg btn-google btn-round">-->
<!--              <i class="fa fa-google"></i>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h3 class="title">{{post.subtitle1}}</h3>
            <p>
              {{post.description1}}
            </p>
            <p *ngIf="post.quote1 || post.quoter1" class="blockquote blockquote-primary">
              <span *ngIf="post.quote1">“{{post.quote1}}”</span>
              <br>
              <br>
              <small *ngIf="post.quoter1">
                {{post.quoter1}}
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="post.img1 || post.img2 || post.img3 || post.quote2 || post.quoter2 || post.subtitle2 || post.description2" class="section section-blog col-md-10 ml-auto mr-auto">
      <div class="container">
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <div *ngIf="post.img1 || post.quote2 || post.quoter2" class="image-container image-left" [ngStyle]="{ 'background-image': 'url(' + this.img1 + ')'}">
                <!-- First image on the left side -->
                <p *ngIf="post.quote2 || post.quoter2" class="blockquote blockquote-primary">
                  <span *ngIf="post.quote2">"{{post.quote2}}"</span>
                  <br>
                  <br>
                  <small *ngIf="post.quoter2">-{{post.quoter2}}</small>
                </p>
              </div>
              <!-- Second image on the left side of the article -->
              <div *ngIf="post.img2" class="image-container image-left-bottom" [ngStyle]="{ 'background-image': 'url(' + this.img2 + ')'}">
              </div>
            </div>
            <div *ngIf="post.img3 || post.subtitle2 || post.description2" class="col-md-5">
              <!-- First image on the right side, above the article -->
              <div *ngIf="post.img3" class="image-container image-right" [ngStyle]="{ 'background-image': 'url(' + this.img3 + ')'}">
              </div>
              <h3 *ngIf="post.subtitle2">{{post.subtitle2}}</h3>
              <p *ngIf="post.description2">{{post.description2}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" *ngIf="post.subtitle3 || post.description3">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h3 *ngIf="post.subtitle3" class="title">{{post.subtitle3}}</h3>
            <p *ngIf="post.description3">{{post.description3}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-blog-info">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="blog-tags">
                  <!--  TODO: MAKE THIS REDIRECT TO A LIST -->
                  Category:
                  <span class="label label-primary">{{post.category}}</span>
                </div>
              </div>
              <div class="col-md-6">
                <!--  TODO: ADD LIKE ABILITY -->
                <!-- IF NOT LIKED -->
                <a href="#" class="btn-outline-primary btn-round pull-right" style="border: 1px solid;">
                  <i class="fa fa-thumbs-up"></i> 232
                </a>
                <!-- IF LIKED -->
<!--                <a href="#pablo" class="btn-primary btn-round pull-right" style="border: 1px solid transparent;">-->
<!--                  <i class="fa fa-thumbs-up"></i> 232-->
<!--                </a>-->
              </div>
            </div>
            <hr />
            <div class="card card-profile card-plain">
              <div class="row">
                <div class="col-md-2">
                  <div class="card-avatar">
                    <a [routerLink]="['/profile', author.id]">
                      <img class="img img-raised" src="{{this.authorImg}}" alt="author_img"/>
                    </a>
                    <div class="ripple-container"></div>
                  </div>
                </div>
                <div class="col-md-8">
                  <h4 class="card-title">{{author.firstName}} {{author.lastName}}</h4>
                </div>
                <div class="col-md-2">
                  <!--  TODO: ADD FOLLOW ABILITY -->
                  <button type="button" class="btn btn-default pull-right btn-round">Follow</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  TODO: ADD COMMENTS SECTION AND CAPABILITY -->
<!--    <div class="section section-comments">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-8 ml-auto mr-auto">-->
<!--            <div class="media-area">-->
<!--              <h3 class="title text-center">3 Comments</h3>-->
<!--              <div class="media">-->
<!--                <a class="pull-left" href="#pablo">-->
<!--                  <div class="avatar">-->
<!--                    <img class="media-object img-raised" src="assets/img/james.jpg" alt="..." />-->
<!--                  </div>-->
<!--                </a>-->
<!--                <div class="media-body">-->
<!--                  <h5 class="media-heading">Tina Andrew-->
<!--                    <small class="text-muted">&middot; 7 minutes ago</small>-->
<!--                  </h5>-->
<!--                  <p>Chance too good. God level bars. I'm so proud of @LifeOfDesiigner #1 song in the country. Panda! Don't be scared of the truth because we need to restart the human foundation in truth I stand with the most humility. We are so blessed!</p>-->
<!--                  <p>All praises and blessings to the families of people who never gave up on dreams. Don't forget, You're Awesome!</p>-->
<!--                  <div class="media-footer">-->
<!--                    <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">-->
<!--                      <i class="now-ui-icons ui-1_send"></i> Reply-->
<!--                    </a>-->
<!--                    <a href="#pablo" class="btn btn-danger btn-neutral pull-right">-->
<!--                      <i class="now-ui-icons ui-2_favourite-28"></i> 243-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="media">-->
<!--                <a class="pull-left" href="#pablo">-->
<!--                  <div class="avatar">-->
<!--                    <img class="media-object img-raised" alt="Tim Picture" src="assets/img/michael.jpg">-->
<!--                  </div>-->
<!--                </a>-->
<!--                <div class="media-body">-->
<!--                  <h5 class="media-heading">John Camber-->
<!--                    <small class="text-muted">&middot; Yesterday</small>-->
<!--                  </h5>-->
<!--                  <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>-->
<!--                  <p> Don't forget, You're Awesome!</p>-->
<!--                  <div class="media-footer">-->
<!--                    <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">-->
<!--                      <i class="now-ui-icons ui-1_send"></i> Reply-->
<!--                    </a>-->
<!--                    <a href="#pablo" class="btn btn-danger btn-neutral pull-right">-->
<!--                      <i class="now-ui-icons ui-2_favourite-28"></i> 25-->
<!--                    </a>-->
<!--                  </div>-->
<!--                  <div class="media">-->
<!--                    <a class="pull-left" href="#pablo">-->
<!--                      <div class="avatar">-->
<!--                        <img class="media-object img-raised" alt="64x64" src="assets/img/julie.jpg">-->
<!--                      </div>-->
<!--                    </a>-->
<!--                    <div class="media-body">-->
<!--                      <h5 class="media-heading">Tina Andrew-->
<!--                        <small class="text-muted">· 2 Days Ago</small>-->
<!--                      </h5>-->
<!--                      <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>-->
<!--                      <p> Don't forget, You're Awesome!</p>-->
<!--                      <div class="media-footer">-->
<!--                        <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">-->
<!--                          <i class="now-ui-icons ui-1_send"></i> Reply-->
<!--                        </a>-->
<!--                        <a href="#pablo" class="btn btn-danger btn-neutral pull-right">-->
<!--                          <i class="now-ui-icons ui-2_favourite-28"></i> 2-->
<!--                        </a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <h3 class="title text-center">Post your comment</h3>-->
<!--            <div class="media media-post">-->
<!--              <a class="pull-left author" href="#pablo">-->
<!--                <div class="avatar">-->
<!--                  <img class="media-object img-raised" alt="64x64" src="assets/img/olivia.jpg">-->
<!--                </div>-->
<!--              </a>-->
<!--              <div class="media-body">-->
<!--                <textarea class="form-control" placeholder="Write a nice reply or go home..." rows="4"></textarea>-->
<!--                <div class="media-footer">-->
<!--                  <a href="#pablo" class="btn btn-primary pull-right">-->
<!--                    <i class="now-ui-icons ui-1_send"></i> Reply-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; end media-post &ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  TODO: ADD RELATED POSTS -->
<!--    <div class="section">-->
<!--      <div class="container">-->
<!--        <div class="col-md-12">-->
<!--          <h2 class="title text-center">Similar Stories</h2>-->
<!--          <br />-->
<!--          <div class="blogs-1" id="blogs-1">-->
<!--            <div class="row">-->
<!--              <div class="col-md-10 ml-auto mr-auto">-->
<!--                <div class="card card-plain card-blog">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-5">-->
<!--                      <div class="card-image">-->
<!--                        <img class="img img-raised rounded" src="assets/img/examples/card-blog4.jpg">-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-7">-->
<!--                      <h6 class="category text-info">Enterprise</h6>-->
<!--                      <h3 class="card-title">-->
<!--                        <a href="#pablo">Warner Music Group buys concert discovery service Songkick</a>-->
<!--                      </h3>-->
<!--                      <p class="card-description">-->
<!--                        Warner Music Group announced today it’s acquiring the selected assets of the music platform Songkick, including its app for finding concerts and the company’s trademark.-->
<!--                      </p>-->
<!--                      <p class="author">-->
<!--                        by-->
<!--                        <a href="#pablo">-->
<!--                          <b>Sarah Perez</b>-->
<!--                        </a>, 2 days ago-->
<!--                      </p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="card card-plain card-blog">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-7">-->
<!--                      <h6 class="category text-danger">-->
<!--                        <i class="now-ui-icons now-ui-icons media-2_sound-wave"></i> Startup-->
<!--                      </h6>-->
<!--                      <h3 class="card-title">-->
<!--                        <a href="#pablo">Insticator raises $5.2M to help publishers</a>-->
<!--                      </h3>-->
<!--                      <p class="card-description">-->
<!--                        Insticator is announcing that it has raised $5.2 million in Series A funding. The startup allows online publishers to add quizzes, polls and other interactive elements...-->
<!--                      </p>-->
<!--                      <p class="author">-->
<!--                        by-->
<!--                        <a href="#pablo">-->
<!--                          <b>Anthony Ha</b>-->
<!--                        </a>, 5 days ago-->
<!--                      </p>-->
<!--                    </div>-->
<!--                    <div class="col-md-5">-->
<!--                      <div class="card-image">-->
<!--                        <img class="img img-raised rounded-->
<!--                                        " src="assets/img/examples/card-blog6.jpg">-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  <app-footer></app-footer>
</div>
</ng-container>
