<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('../../../assets/img/bg44.jpg') ;">
    </div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">A Place for Entrepreneurs to Share and Discover New Stories</h2>
          <a href="#button" class="btn btn-primary btn-round  btn-icon">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#button" class="btn btn-primary btn-round  btn-icon">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="projects-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="card card-fashion card-background" style="background-image: url('../../../assets/img/project10.jpg')">
            <div class="card-body">
              <div class="card-title text-left">
                <h2>
                  <a href="#pablo">
                    The world's biggest yacht sets sail. It has lasers.
                  </a>
                </h2>
              </div>
              <div class="card-footer text-left">
                <div class="stats">
                                    <span>
                                        <i class="now-ui-icons users_circle-08"></i>Nicholas Deleon
                                    </span>
                  <span>
                                        <i class="now-ui-icons tech_watch-time"></i> June 2, 2017
                                    </span>
                </div>
                <div class="stats-link pull-right">
                  <a href="#pablo" class="footer-link">Yachts</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 px-0">
          <div class="card card-fashion">
            <div class="card-title">
              <a href="#pablo">
                <h4>
                  <a href="#pablo">
                    Why Early Sailors Were Stalled for Millennia in the...
                  </a>
                </h4>
              </a>
            </div>
            <div class="card-body">
              <div class="card-footer">
                <div class="stats">
                                    <span>
                                        <i class="now-ui-icons users_circle-08"></i>Jon Russell
                                    </span>
                  <span>
                                        <i class="now-ui-icons tech_watch-time"></i> June 2, 2017
                                    </span>
                </div>
                <div class="stats-link pull-right">
                  <a href="#pablo">Sea</a>&sbquo;
                  <a href="#pablo">Magazine</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 px-0">
          <div class="card card-fashion card-background" style="background-image: url('../../../assets/img/project11.jpg')">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 px-0">
          <div class="card card-fashion card-background" style="background-image: url('../../../assets/img/project12.jpg')">
          </div>
        </div>
        <div class="col-md-3 px-0">
          <div class="card card-fashion arrow-left">
            <div class="card-title">
              <h4>
                <a href="#pablo">
                  My Depressing Summers in Belize
                </a>
              </h4>
            </div>
            <div class="card-body">
              <div class="card-footer">
                <div class="stats">
                                    <span>
                                        <i class="now-ui-icons users_circle-08"></i>John Bruno
                                    </span>
                  <span>
                                        <i class="now-ui-icons tech_watch-time"></i> June 2, 2017
                                    </span>
                </div>
                <div class="stats-link pull-right">
                  <a href="#pablo">Opinion</a>&sbquo;
                  <a href="#pablo">Outdoor</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="card card-fashion card-background" style="background-image: url('../../../assets/img/project13.jpg')">
            <div class="card-body">
              <div class="card-title text-left">
                <h2>
                  <a href="#pablo">China Wants Fish, So Africa Goes Hungry</a>
                </h2>
              </div>
              <div class="card-footer text-left">
                <div class="stats">
                                    <span>
                                        <i class="now-ui-icons users_circle-08"></i>Joanna Klein
                                    </span>
                  <span>
                                        <i class="now-ui-icons tech_watch-time"></i> June 2, 2017
                                    </span>
                </div>
                <div class="stats-link pull-right">
                  <a href="#pablo" class="footer-link">People</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="section">
        <h3 class="title text-center">You may also be interested in</h3>
        <br />
        <div class="row">
          <div class="col-md-4">
            <div class="card card-plain card-blog">
              <div class="card-image">
                <a href="#pablo">
                  <img class="img rounded img-raised" src="assets/img/bg5.jpg" />
                </a>
              </div>
              <div class="card-body">
                <h6 class="category text-info">Enterprise</h6>
                <h4 class="card-title">
                  <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                </h4>
                <p class="card-description">
                  Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                  <a href="#pablo"> Read More </a>
                </p>
                <div class="author">
                  <img src="assets/img/olivia.jpg" alt="..." class="avatar img-raised" />
                  <span>Anna Spark</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-plain card-blog">
              <div class="card-image">
                <a href="#pablo">
                  <img class="img rounded img-raised" src="assets/img/bg27.jpg" />
                </a>
              </div>
              <div class="card-body">
                <h6 class="category text-success">
                  Startups
                </h6>
                <h4 class="card-title">
                  <a href="#pablo">Lyft launching cross-platform service this week</a>
                </h4>
                <p class="card-description">
                  Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                  <a href="#pablo"> Read More </a>
                </p>
                <div class="author">
                  <img src="assets/img/michael.jpg" alt="..." class="avatar img-raised">
                  <span>John Black</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-plain card-blog">
              <div class="card-image">
                <a href="#pablo">
                  <img class="img rounded img-raised" src="assets/img/bg21.jpg" />
                </a>
              </div>
              <div class="card-body">
                <h6 class="category text-danger">
                  <i class="now-ui-icons media-2_sound-wave"></i> Enterprise
                </h6>
                <h4 class="card-title">
                  <a href="#pablo">6 insights into the French Fashion landscape</a>
                </h4>
                <p class="card-description">
                  Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                  <a href="#pablo"> Read More </a>
                </p>
                <div class="author">
                  <img src="assets/img/james.jpg" alt="..." class="avatar img-raised">
                  <span>James Newman</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default ">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a [routerLink]="['/home']">
              Mongo Blog
            </a>
          </li>
          <!--          <li>-->
          <!--            <a href="/about">-->
          <!--              About Me-->
          <!--            </a>-->
          <!--          </li>-->
          <li>
            <a [routerLink]="['/blog']">
              Posts
            </a>
          </li>
          <!--          <li>-->
          <!--            <a href="https://www.creative-tim.com/license">-->
          <!--              License-->
          <!--            </a>-->
          <!--          </li>-->
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}, Designed and Coded by
        <a href="#about">Nicholas Juncos</a>.
      </div>
    </div>
  </footer>
</div>
