<div class="wrapper" *ngIf="posts$ | async as posts">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('../../../assets/img/bg44.jpg') ;">
    </div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">A Place for Entrepreneurs to Share and Discover New Stories</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="section">
        <h3 class="title text-center">You may be interested in</h3>
        <br />
        <app-post-list class="col-12" [posts]="posts" [post_length]="post_length"></app-post-list>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
